/* Stylesheet for YouTube layout */

/* Body styles */

body{
    background-color: #f1f1f1;
    font-family: arial,sans-serif;
}

/*Fonts, Links and other text styles */

p{
    font-family: arial,sans-serif;
    font-size: 13px;
    color: #555;
}

a{
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color:#555;
}
a:visited{
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color:#555;
}


/*header and header div styles */

header{
	height:51px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1999999999;
	background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}

/*logo section of header*/

.logo_holder{
	float: left;
    height: 30px;
    width: 15%;
    padding-left: 30px;
    padding-top: 9px;

}

.logo_holder span{
    font-size: smaller;
    vertical-align: top;
    line-height: 15px;
    color: #777;
}

/*Start of Nav Styles*/

nav{
    display: inline-block;
    line-height: 30px;
    vertical-align: top;
    padding-left: 10px;
    
}



/*Search box section of header*/
.search_holder{
	float:left;
    padding-top: 9px;
    width: 60%;
}
.search_box{
    width: 80%;
    font-size: 13pt;
    height: 30px;
    float: left;
    display: inline;
    line-height: 30px;
    border: 1px solid #D3D3D3;
}
.search_button{
    border: 0;
    background-color:#DD2826;
    background-image: url("../images/mag_glass.png");
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius:2px;
    height:30px;
    width:60px;
    }

    /* nav button section of header */

    .header_links_holder{
    	float: right;
        /*font-size:0  will remove white space on inline block elements*/
        width: 20%;
        padding-top: 9px;
        margin-right: 2%;
    }
    .header_links_holder ul{
        text-align: right;
    }

    .header_links_holder li{
        display: inline-block;
        list-style: none;
        line-height: 30px;
        
    }

    .header_upload_but{
        padding: 8px 10px;
        background-color:#f8f8f8;;
        font-weight: bold;
        border-radius: 2px;
        border: 1px solid #D3D3D3;
        font-weight: bold;
        font-size: 11px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
        margin-right: 10px;
    	
    }

    .header_sign_in_but{    	
        padding: 8px 10px;
        background-color:#4285F4;
        color:#fff !important; 
        font-weight: bold;
        border-radius: 2px;
        border: 1px solid #D3D3D3;
        font-weight: bold;
        font-size: 11px;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    }

    /* End of CSS header styles*/

    /* **************** beginning of central content styles*/

.central_content_wrapper{
    margin-right: 2%;
    margin-left: 2%;
    background-color: green;
    margin-top: 51px; /*brings content below header*/
    height: 800px;
}

section{
    width: 70%;
    float:left;
    background-color: yellow;
}

aside{
    width:30%;
    float: left;
    background-color: red;
}